<?php
/**
 * SarDatabases Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
return array(
    'sardatabases' => array(
        /**
         * User table name
         */
        'host' => 'mongodb://localhost',

    ),
    /**
     * End of SarDatabases configuration
     */
);